[submodule "3DMath"]
	path = 3Dmath
	url = https://github.com/HD787/3DMath
[submodule "raster"]
	path = raster
	url = https://github.com/HD787/Raster
[submodule "OBJParser"]
	path = OBJParser
	url = https://github.com/HD787/OBJParser